<app-navbar></app-navbar>
<div class="container mt-2 text-center">
    <h2>Productos</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Coca cola</td>
            <td>Bebida con azucar</td>
          </tr>
          <tr>
            <td>Sibarita</td>
            <td>Pizza de 700 gramos</td>
          </tr>
        </tbody>
      </table>
</div>
