.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    height: 100%;
}

.logo {
    height: 130px;
    margin-bottom: 10px;
}

.body {
    max-width: 300px;
    width: 100%;
    text-align: center;
}